body {
  margin: 0px;
  padding: 0px;
  background-color: lightcoral;
}
.page {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}
.idk{
}
.woah{
  width: 50%
}
.gasp{
  width:80%
}
.yea{
  width: 90%
}
.again_idk{
  width: 80%
}
.r2d2{
  width:50%
}